*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    color: #fff;
    width: 100%;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
}
#header .container{
    padding: 10px 10%;
}
#header .container nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
#header .container .logo{
    width: 140px;
}
#header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
#header nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
#header nav ul li a::after{
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
#header nav ul li a:hover::after{
    width: 100%;
}
#header .header-text{
    /* font-size: 30px; */
    font-size: 26px;
    margin-top: 20%;
}
#header .header-text h1{
    /* font-size: 60px; */
    font-size: 55px;
    margin-top: 20px;
}
#header .header-text h1 span{
    color: #ff004f;
}
/* ---------About----------- */
#about{
    padding: 80px 20px;
    color: #ababab;
}
#about .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#about .row .about-col-1{
    width: 35%;
}
#about .row .about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
#about .row .about-col-2{
    width: 60%;
}
#about .row .about-col-2 p{
    font-size: 13px;
}
#about .row .about-col-2 .sub-title{
    /* font-size: 60px; */
    font-size: 55px;
    font-weight: 600;
    color: #fff;
}
#about .row .about-col-2 .tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
#about .row .about-col-2 .tab-titles .tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}
#about .row .about-col-2 .tab-titles .tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left:0;
    bottom: -8px;
    transition: 0.5s;
}
#about .row .about-col-2 .tab-titles .tab-links.active-link::after{
    width: 50%;
}
#about .row .about-col-2 .tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
#about .row .about-col-2 .tab-contents ul li span{
    color: #b54679;
    font-size: 14px;
}
#about .row .about-col-2 #service,
#about .row .about-col-2 #experience,
#about .row .about-col-2 #education{
    display: none;
}

body.skillstab #about .row .about-col-2 #experience{
    display: none;
}
body.skillstab #about .row .about-col-2 #education{
    display: none;
}

body.experiencetab #about .row .about-col-2 #skills{
    display: none;
}
body.experiencetab #about .row .about-col-2 #education{
    display: none;
}
body.educationtab #about .row .about-col-2 #skills{
    display: none;
}
body.educationtab #about .row .about-col-2 #experience{
    display: none;
}
body.skillstab #about .row .about-col-2 #skills{
    display: flex;
}
body.experiencetab #about .row .about-col-2 #experience{
    display: flex;
}
body.educationtab #about .row .about-col-2 #education{
    display: flex;
}

/* ---------------services--------------- */
#services{
    padding: 30px 20px;
}
#services .services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
#services .services-list div{
    background: #262626;
    padding: 30px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
#services .services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
#services .services-list div h2{
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 15px;
}
#services .services-list div a{
    font-size: 12px;
    text-decoration: none;
    color: #fff;
    margin-top: 20px;
    display: inline-block;
}
#services .services-list div:hover{
    background: #ff004f;
    transform: translateY(-10px);
}
/* -----------Portfolio------------- */
#portfolio{
    padding: 50px 20px;
    width: 100%;
}
#portfolio .work-list{
    display: grid;
    
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
#portfolio .work-list .work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
#portfolio .work-list .work{
    height: 200px;
    transition: height 0.5s;
    box-shadow: 2px 2px 7px rgba(0,0,0,0.9);
}
body.Full1 #portfolio .work-list .work-1{
    height: 855px;
}

body.Full2 #portfolio .work-list .work-2{
    height: 1070px;
}

body.Full3 #portfolio .work-list .work-3{
    height: 200px;
}
#portfolio .work-list .work button{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    text-align: center;
    height: 35px;
    background: #999;
    color: #fff;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    cursor: pointer;
    border: none;
    outline: none;
    /* box-shadow: 1px 1px 250px #000; */
    z-index: 99;
}
#portfolio .work-list .work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    /* box-shadow: 1px 1px 5px #eee; */
}
#portfolio .work-list .work .layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s;
}
#portfolio .work-list .work:hover img{
    /* transform: scale(1.1); */
}
#portfolio .work-list .work:hover .layer{
    height: 100%;
}
#portfolio .work-list .work .layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
#portfolio .work-list .work .layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
#portfolio .btn,.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}
#portfolio .btn:hover{
    background: #ff004f;
}

/* ----------------contact------------ */
#contact .container{
    padding: 0px 20px;
}
#contact .row{
    display: flex;
    justify-content: space-between;

}
#contact .contact-left{
    width: 35%;
}
#contact .contact-right{
    width: 60%;
}
#contact .contact-left p{
    margin-top: 30px;
}
#contact .contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
#contact .social-icons{
    margin-top: 30px;
}
#contact .social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
#contact .social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
#contact .contact-left .btn2{
    display: inline-block;
    background: #ff004f;
}
#contact .contact-right form input,
#contact .contact-right form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
#contact .contact-right form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background: #ff004f;
}
#contact .copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
#contact .copyright i{
    color: #ff004f;
}
/* ----------------css for small screen only------------- */
nav  .fas{
    display: none;
}
@media screen and (max-width:600px){
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 100% !important;
        font-size: 16px;
    }
    #header .header-text p{
        max-width: 250px;
    }
    .header-text h1{
        font-size: 30px !important;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block !important;
        margin: 35px !important ;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1,
    .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    #services .services-list div{
        width: 100%;
    }
    #portfolio .work-list .work img{
        width: 100%;
    }
    #contact .row{
        flex-direction: column;
    }
    .contact-left{
        width: 100% !important;
    }
    .contact-right{
        width: 100% !important;
    }
    .copyright{
        font-size: 14px;
    }
}

#msg{
    color: #61b752 #;
    margin-top: -40px;
    display: block;

}
